<div>
  <p>Nom: {{ informationsClient?.nom }}</p>
  <p>Prénom: {{ informationsClient?.prenom }}</p>
  <p>civilite: {{ informationsClient?.civilite }}</p>

  <p>Adresse: {{ informationsClient?.adresse }}</p>
  <p>cp: {{ informationsClient?.cp }}</p>
  <p>ville: {{ informationsClient?.ville }}</p>
  <p>pays: {{ informationsClient?.pays }}</p>

  <p>tel: {{ informationsClient?.tel }}</p>
  <p>email: {{ informationsClient?.email }}</p>

  <p>login: {{ informationsClient?.login }}</p>
  <p>password: {{ informationsClient?.password }}</p>




</div>
