<div class="navbargeneral">
    <a class="logo" href="#home"><img height="auto" width="98" src="./assets/logo.png"></a>
    
    <div class="menu">

        <div class="navbar">
            <div class="dropdown">
              <button class="dropbtn">Cafés
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a href="#">Nespresso</a>
                <a href="#">Grain</a>
                <a href="#">Moulu</a>
              </div>
            </div> 
            <div class="dropdown">
                <button class="dropbtn">Thés
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="#">Tissanes</a>
                  <a href="#">Feuilles de thés</a>
                </div>
            </div> 
            <div class="dropdown">
                <button class="dropbtn">Gourmandises
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="#">Gâteaux</a>
                  <a href="#">Chocolat</a>
                  <a href="#">Sucre</a>
                </div>
            </div>
            <div class="dropdown">
               <button class="dropbtn">Machines
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="#">Machines à Cafés</a>
                  <a href="#">Theiere</a>
                  <a href="#">Accessoires</a>
                </div>
            </div> 
            <div class="UserMenuBar">
              <a href="#Panier">Panier</a>
              <a href="#User">User</a>
          </div>
        </div>

        <div class="navbar">
            <div class="SearchBar">
                <input size=50px type="text" placeholder="Rechercher un produit" name="search">
                <button class="button-2" type="submit"><p>Rechercher</p></button>
            </div>
        

        </div>
    </div>
</div>


