<div class="p-4 shadow-lg rounded-lg">
  <h2 class="text-lg font-semibold mb-4 text-center">Votre Panier</h2>
  <div *ngIf="items.length === 0" class="text-gray-600 text-center mb-4">
    Votre panier est vide.
  </div>
  <div *ngFor="let item of items" class="mx-auto my-5 p-4 shadow-lg rounded-lg w-full md:w-2/3">
    <div class="flex justify-between items-center">
      <div class="flex items-center">
        <img [src]="item.imageURL" alt="{{ item.name }}" class="w-16 h-16 rounded-lg">
        <div class="ml-4">
          <p class="text-lg font-semibold">{{ item.name }}</p>
          <p class="text-sm text-gray-600">{{ item.price }}€</p>
        </div>
      </div>
      <button (click)="removeFromCart(item)" class="bg-red-500 text-white px-4 py-2 rounded-full hover:bg-red-700 transition duration-300">
        Supprimer
      </button>
    </div>
  </div>
</div>
